################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/SistemaCobros/v15
/packages
/SistemaCobros/bin
/SistemaCobros/obj/Debug
/SistemaCobros/SistemaCobros.csproj.user
