@model IEnumerable<SistemaCobros.Models.Tipo_Gestion>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de Gestion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_tipo_gestion }) |
       
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_tipo_gestion })
        </td>
    </tr>
}

</table>
