
@{
    ViewBag.Title = "Consulta Registro de pagos";

}

<h2>@ViewBag.Title</h2>
<br />
<br />
<input type="button" value="Refrescar" onclick="Get();" />
<br />
<br />
<input type="button" value="Nuevo Ingreso de Boleta" onclick="document.location.href='@Url.Content("~/RegistroPago/New")'" />
<br />
<br />
<div id="divLista" style="border: 1px solid #7893ad">


</div>

<script>
    urlGet = "@Url.Content("~/RegistroPago/List")";
    Get();

    function Get(){
        fetch(urlGet)
            .then(function (response) {
                return response.text();
            })
            .then((data) => {
                document.getElementById("divLista").innerHTML = data;
            })
    }
</script>